<% if (allrecs.length > 0) {%>
    <table border="1">
    <tr>
    <th>Employee First Name</th>
    <th>Employee Last Name</th>
    <th>Employee ID</th>
    <th>Location ID</th>
    <th colspan="3">Actions</th>
    </tr>
    <% allrecs.forEach((recref, index)=> {%>
    <tr>
    <td><%= recref.firstname %></td>
    <td><%= recref.lastname %></td>
    <td><%= recref.employee_id %></td>
    <td><%= recref.location_id %></td>
    <td><a href='/employees/<%= recref.employee_id %>/show'> 
    Details</a></td>
    <td><a href='/employees/<%= recref.employee_id %>/edit'>Edit</a></td>
    <td><a href='/employees/<%= recref.employee_id %>/delete' 
    onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
    </tr>
    <% }); %>
    </table>
    <% } else { %>
    <p>Not Records Available</p>
    <% } %>
    <p> <a href='/employees/addrecord'>Add New</a> </p>