<body>
  <h1 style="font-size:25px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#513009">Search Results</h1>
<hr/>

  </body>
  <% if (allrecs.length > 0) {%>
    <% allrecs.forEach((recref, index) => { %>
      <product>
        <form action="/catalog/add" method="post" >
        <input type="hidden" name="product_id" value=<%= recref.product_id %> > 
        <table style="border:none"> 
        <tr> <td><%= recref.suppliername %></td></tr>
        <th colspan="2" style="text-align: left;"><%= recref.productname %></th>
        <tr> <td colspan="2"><img src="/images/<%= recref.prodimage %>" width="150px" height="150px"></td></tr>
        <tr> <td>$<%= recref.cost_per_ounce %> per ounce</td></tr>
        <td><%= recref.catagory %></td>
        <tr><td><a class="button1" style="font-size:10px" href='/product/<%= recref.product_id %>/show'>Details</a></td></tr>
        </tr>
        <tr><th colspan="2" style="text-align: left"><br><hr>Desired Number Of Ounces: </th></tr>
        <tr><td><select style="font-size:15px; border:#800000 2px solid" name="qty" required>
                <option>12.7</option>
                <option>33.8</option>
                <option>50.7</option>
                <option>101.4</option>
                <option>152.2</option>
                </select> </td> </tr>
        <tr><td><button style="font-size:15px" class="button1" type="submit">Add to Cart</button></td></tr>
        </table>
        </form>
        </product>
    <% }); %>
    <% } %>