<h1 style="font-size:45px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%"> Details </h1>
<% if (onerec) {%>
<form action="/review/subreview" method="post">
    <input type="hidden" name="product_id" value="<%= onerec.product_id %>">
    <input class="button1" style="font-size: 15px;" type="submit" value="Write A Review">
</form>
<form action="/catalog/add" method="post" >
    <input type="hidden" name="product_id" value=<%= onerec.product_id %>
    <h1 style="padding:10px; font-size:30px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:#301d06">Desired Number Of Ounces: </h1>
        <select style="font-size:15px; border:#800000 2px solid" name="qty" required>
                <option>12.7</option>
                <option>33.8</option>
                <option>50.7</option>
                <option>101.4</option>
                <option>152.2</option>
                </select> 
        <button style="font-size:15px" class="button1" type="submit">Add to Cart</button>
</form>
<table >
<tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
<tr> <td> Product Name: </td> <td> <%= onerec.productname %> </td> </tr>
<tr> <td> Image: </td> <td> <%= onerec.prodimage %> </td> </tr>
<tr> <td> Description: </td> <td> <%= onerec.description %> </td> </tr>
<tr> <td> Supplier: </td> <td> <%= onerec.supplier_id %> </td> </tr>
<tr> <td> Sale Price: </td> <td> $<%= onerec.cost_per_ounce %> </td> </tr>
<tr> <td> Total liters in storage: </td> <td> <%= onerec.total_liters_in_storage %> </td> </tr>
<tr> <td> Catagory: </td> <td> <%= onerec.catagory %> </td> </tr>
<tr> <td> Homepage: </td> <td> <%= onerec.homepage %> </td> </tr>
</table>
<hr>
<h1 style="font-size:45px; font-family:Verdana, Geneva, Tahoma, sans-serif; color:white; font-style:italic; position: relative; left:5%"> Customer Reviews </h1>
<table>
    <tr>
        <th>Comments</th>
        <th>Rating</th>
    </tr>
    <% reviews.forEach((recref, index)=> {%>
        <tr>
        <td><%= recref.comments %></a></td>
        <td><%= recref.rating %> stars</a></td>
        </tr>
    
    <% }); %>
</table>
<% } else { %>
    <p>No Record To Display</p>
<% } %>